@charset "utf-8";
/* CSS Document */
body {
  padding-top: 50px;
}
.default {
  padding: 40px 15px;
  text-align: left;
}
.post {
  padding: 40px 15px 0px;
  text-align: left;
}
p.subtitle {
  font-style: italic;
  font-size: 80%;
  color: #999999;
  background-color: #ffffff
}